@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@300;400;500;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Ubuntu:wght@400;500&display=swap');

.section {
    height: 100%;
    min-height: 100vh;
}

.textTitle {
    font-family: "Ubuntu", serif;
    color: #F4F4F4;
    font-weight: 700;
    font-style: normal;
    font-size: 5vw;
    text-shadow: 
        0 0 2px rgba(255, 255, 255, 0.8),
        0 0 10px #170F38, 
        0 0 15px rgba(255, 88, 88, 0.4),
        0 0 20px rgba(255, 255, 255, 0.2);
}

.textBody {
    font-family: "Open Sans", serif;
    font-weight: 400;
    color: #F4F4F4;
    font-size: 1.5vw;
    text-align: center;
}

.background--custom {
    background-color: #170F38;
    width: 100vw;
    height: 400vh;
    position: absolute;
    overflow: hidden;
    z-index: -2;
    top: 0;
    left: 0;
  }
  canvas#canvas {
    z-index: -1;
    position: absolute;
    width: 300%;
    height: 100%;
    transform: rotate(0deg) scale(2.3)translateY(0%);
    --gradient-color-1: #090211; 
    --gradient-color-2: #020b46; 
    --gradient-color-3: #3b0830;  
    --gradient-color-4: #280257;
    --gradient-speed: 0.000008;
  }

.homeContainer {
    display: flex;
    box-sizing: border-box;
}

.homeBottomContainer {
    display: flex;
    padding: 20px;
    margin: 10px;
}

.homeContainer > div {
    margin: 5px;
    padding: 5px;
    flex-grow: 1;
    flex: 1 1 calc(33.33vw - 10px);
    align-self: center;
}

#text1 {
    text-align: end;
    font-size: 2.5vw;
}

#homePicture, #textName, #textHobby {
    display: flex;
    justify-content: center;
}

#userPicture {
    width: 25vw;
    border-radius: 50px;
}

#text2 {
    text-align: start;
    font-size: 2.5vw;
}

#textHomeName {
    text-align: justify;
}

#hobbiesContainer {
    display: flex;
    flex-direction: row; 
    align-items: center;
    justify-content: space-around;
}

.hobbiesImage {
    display: block;
    object-fit: cover;
    aspect-ratio: 1;
    height: 400px; 
    width: 400px;
    max-width: 20vw;
    max-height: 40vh;
    border-radius: 50px;
    box-shadow:
    0 0 2px rgba(0, 0, 0, 0.8),
    0 0 10px #170F38, 
    0 0 15px rgba(255, 88, 88, 0.4),
    0 0 20px rgba(255, 255, 255, 0.2);
    transition: box-shadow 0.3s ease; 
}
.hobbiesImage:hover {
    box-shadow: 0 0 10px rgba(255, 255, 255, 0.7), 
                0 0 20px rgba(255, 255, 255, 0.5), 
                0 0 30px rgb(101, 0, 242);
}

#hobbies > figure {
    margin: 10px 0;
    text-align: center;
}
